@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&family=Poetsen+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tilt+Neon&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

html, body {
height: 100%;
width: 100%;
}

.drag {
  resize: both;
 
  position: absolute;
}


body{
  user-select: none;
}

@keyframes win11-ring {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.win11-ring {
  width: 50px;
  height: 50px;
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-top: 4px solid #00aaff;
  border-radius: 50%;
  animation: win11-ring 1.2s linear infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.3; }
}
.animate-blink {
  animation: blink 1.2s infinite;
}